:root { 
--gray_900_13:#09101d; 
--black_900_7f:#0000007f; 
--gray_900_14:#2a2a2a; 
--gray_900_10:#0f0e17; 
--gray_900_11:#14132a; 
--light_green_A700:#22cb13; 
--gray_900_12:#212529; 
--red_400:#f14a60; 
--green_A100:#b5eacd; 
--green_700:#398f3e; 
--yellow_800:#dba111; 
--deep_orange_200_01:#f8a492; 
--blue_gray_900_02:#333438; 
--blue_gray_900_01:#24363c; 
--blue_gray_900:#262b35; 
--yellow_800_01:#d4ac1c; 
--deep_orange_100:#fec1c1; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--gray_700_b7:#626262b7; 
--amber_500:#feb909; 
--gray_800:#434041; 
--white_A700_66:#ffffff66; 
--white_A700_67:#ffffff67; 
--blue_100:#d3d8ff; 
--indigo_600:#2e52b2; 
--deep_orange_A200:#ff6332; 
--gray_900_cc:#0d1624cc; 
--deep_orange_400_01:#f78a3b; 
--light_blue_600:#179bd7; 
--deep_orange_400_02:#f37458; 
--green_600:#349765; 
--gray_700_0c:#5555550c; 
--teal_400:#33c481; 
--blue_gray_200_00:#bac1ce00; 
--blue_A200_04:#468ee5; 
--blue_A200_03:#588af1; 
--black_900_66:#00000066; 
--blue_A200_02:#4285f4; 
--blue_A200_01:#4d90ff; 
--gray_500_01:#a6a6a6; 
--yellow_900:#ef8521; 
--gray_500_03:#979ea5; 
--blue_600_01:#228aed; 
--gray_500_02:#979797; 
--gray_500_04:#ababab; 
--green_400_01:#5dd65d; 
--gray_700_11:#55555511; 
--blue_gray_200:#bac1ce; 
--indigo_400_01:#476eb5; 
--blue_800:#0051d5; 
--gray_900:#0d1624; 
--gray_100:#f4f5f7; 
--gray_700_26:#55555526; 
--cyan_100:#c1fdff; 
--gray_600_3a:#7e7e7e3a; 
--white_A700_49:#ffffff49; 
--indigo_700:#34548a; 
--light_blue_400_01:#2cb6f4; 
--white_A700_b2:#ffffffb2; 
--light_blue_A100:#67d7fd; 
--blue_A200:#3b82f6; 
--indigo_200_01:#a0bfe4; 
--green_500:#38c869; 
--deep_orange_300:#ff8a65; 
--gray_200_01:#f0efef; 
--blue_900_02:#003399; 
--blue_gray_700:#424c5d; 
--blue_900_01:#034694; 
--gray_200_02:#f5efed; 
--blue_900_04:#1c3aa9; 
--blue_900_03:#0052b4; 
--red_A700:#d80027; 
--gray_600:#737373; 
--white_A700_0c:#ffffff0c; 
--amber_700:#da9e01; 
--orange_400:#ffae1f; 
--gray_400_01:#c4c4c4; 
--gray_400_02:#c1c1c1; 
--green_900_01:#236823; 
--blue_gray_700_02:#535353; 
--blue_gray_700_01:#535763; 
--indigo_800:#253b80; 
--blue_A100:#80b0ff; 
--red_500:#ea4335; 
--light_blue_400:#1ba9ff; 
--green_400:#65bc6a; 
--gray_900_a5:#070b2ea5; 
--black_900:#000000; 
--blue_gray_800:#394250; 
--blue_50_02:#edf3ff; 
--gray_800_1e:#5549491e; 
--blue_50_01:#e0ecff; 
--deep_orange_200:#f8a491; 
--blue_A700_7e:#0061ff7e; 
--gray_900_02:#11142d; 
--gray_900_03:#0d062d; 
--gray_700:#666666; 
--gray_900_04:#151522; 
--green_800_01:#29752b; 
--gray_900_05:#1e1b14; 
--green_800_02:#1a9f0b; 
--orange_A700:#ff6700; 
--indigo_50:#e9eef8; 
--gray_900_01:#18181b; 
--blue_gray_300_87:#919eab87; 
--blue_gray_900_7f:#3333337f; 
--gray_900_06:#202020; 
--gray_300_03:#dfdfdf; 
--gray_900_07:#14022a; 
--gray_300_02:#e0e0e0; 
--orange_300:#ffb543; 
--gray_300_01:#e3e4e5; 
--gray_900_08:#1d1d1d; 
--gray_900_09:#242424; 
--deep_orange_A100_33:#dfa87433; 
--white_A700_00:#ffffff00; 
--white_A700_01:#fffffe; 
--white_A700_02:#fffeff; 
--indigo_900:#222d65; 
--blue_200:#a6c8ff; 
--gray_800_2b:#4545452b; 
--green_300:#8be48b; 
--gray_50_01:#f8f9fa; 
--gray_50_02:#f4f8ff; 
--black_900_b2:#000000b2; 
--gray_50_03:#fafcff; 
--gray_50_04:#f6f7fb; 
--light_blue_300:#5fcfff; 
--gray_50_05:#f5f9ff; 
--gray_50_06:#fff7f2; 
--gray_50_07:#fffcf3; 
--red_800:#ce1126; 
--gray_800_01:#3c4043; 
--blue_A700_23:#0060ff23; 
--red_100_01:#f6d6d4; 
--black_900_01:#090b0d; 
--black_900_00:#00000000; 
--light_blue_A700:#0086ed; 
--gray_50_08:#fafafa; 
--gray_50_09:#fbfcfe; 
--deep_orange_500:#ff5722; 
--deep_purple_A200:#9a4afe; 
--black_900_03:#000919; 
--black_900_02:#130e00; 
--red_A200_01:#fd6161; 
--gray_400:#b3b3b3; 
--blue_gray_500:#607d8b; 
--black_900_0c:#0000000c; 
--yellow_700_01:#ffbd39; 
--black_900_0e:#0000000e; 
--orange_200:#f8cc7f; 
--gray_50_10:#fcfcfc; 
--gray_900_9b:#2222229b; 
--indigo_200:#8cb0dd; 
--indigo_900_01:#181a93; 
--green_300_01:#89c06f; 
--indigo_900_02:#10338c; 
--black_900_19:#00000019; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0a58ff; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_100_02:#d6d5d5; 
--blue_gray_100_03:#d1d3d4; 
--blue_gray_100_04:#d6d6d6; 
--gray_50:#f9fbff; 
--blue_gray_800_04:#3d455b; 
--blue_gray_800_02:#194655; 
--yellow_500:#ffee37; 
--blue_gray_800_03:#37334d; 
--deep_orange_400:#d58c48; 
--gray_500:#929393; 
--blue_gray_600:#5f6c86; 
--blue_gray_800_01:#394150; 
--orange_100:#f9e0b2; 
--yellow_900_02:#ed8c33; 
--yellow_900_01:#f7931a; 
--blue_400:#3a96dd; 
--white_A700_7f:#ffffff7f; 
--light_blue_100:#b0e5fc; 
--red_200:#fa9a9a; 
--green_900:#185c37; 
--indigo_A100:#7594ea; 
--black_900_3f:#0000003f; 
--blue_800_01:#2953c7; 
--light_blue_900:#0053a0; 
--gray_300_99:#e4e4e499; 
--green_A700:#009e49; 
--deep_orange_700:#dc4a26; 
--pink_A700:#b20d78; 
--red_700_03:#b85742; 
--red_700_02:#ed1c24; 
--red_700_01:#de2727; 
--deep_purple_A400:#7031fc; 
--orange_A200:#ef9e3b; 
--black_900_4d:#0000004d; 
--blue_700:#1976d2; 
--blue_gray_300:#9ea8ba; 
--red_A200:#fe555d; 
--orange_A200_01:#ffa44a; 
--gray_200:#efefef; 
--blue_50:#e0ebff; 
--gray_100_03:#fdf5f4; 
--indigo_400:#6a7ab5; 
--gray_100_02:#fbf1f2; 
--blue_gray_100_6c:#d1d3d46c; 
--gray_100_04:#f4fbf7; 
--green_600_03:#1ea84d; 
--gray_100_01:#f3f4f5; 
--green_600_02:#34a853; 
--green_600_01:#21a366; 
--blue_gray_400_02:#75839d; 
--blue_gray_400_01:#808191; 
--white_A700:#ffffff; 
--deep_orange_50:#f9eee3; 
--amber_500_04:#ffc107; 
--amber_500_03:#fbbc04; 
--blue_gray_900_14:#1f293714; 
--amber_500_02:#fdbe11; 
--amber_500_01:#feba09; 
--gray_600_19:#7e7e7e19; 
--green_800:#107c41; 
--blue_A700_01:#0061ff; 
--blue_A700_02:#0065ff; 
--red_100:#ffe1cc; 
--blue_A700_03:#0068ff; 
--white_A700_75:#ffffff75; 
--deep_orange_600:#e86124; 
--yellow_700:#f4c324; 
--blue_50_7f:#e0ebff7f; 
--black_900_29:#00000029; 
--yellow_500_01:#f0e92d; 
--purple_A100:#e289f1; 
--deep_orange_A400:#ff4b00; 
--black_900_bf:#000000bf; 
--black_900_26:#00000026; 
--black_900_e4:#000000e4; 
--blue_gray_400:#74839d; 
--blue_gray_900_04:#263238; 
--red_A100:#f58d80; 
--deep_orange_300_01:#f58761; 
--blue_600:#378fd3; 
--blue_gray_900_03:#2e2e2e; 
--gray_300:#d2efe0; 
--white_A700_87:#ffffff87; 
--blue_A700_a2:#0061ffa2; 
}